html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

#header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

#header-top{
    display: none;
    padding: 8px 60px;
    background-color: #0947a5;
    color: #fff;
}

#header-top a{
    color: #fff;
    text-decoration: none;
}

#top-right{
    display: flex;
}

#top-right i{
    padding: 0 5px;
}

#phone-social{
    margin: 0 15px;
}

#header-bottom{
    display: flex;
    align-items: center;
    padding: 10px 60px;
    border-bottom: rgb(25, 179, 240) 3px solid;
    box-shadow: 0px 2px 7px rgb(53, 53, 53);
}

#logo-box{
    display: flex;
    align-items: center;
}

#logo-box p{
    margin-left: 25px;
    padding: 5px;
    padding-left: 25px;
    border-left: #000 1px solid;
}

#logo-img{
    width: 80px;
    height: 80px;
}

#navbar{
    margin-left: auto;
}

#nav-menu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}

#nav-hide{
    z-index: 2;
    position: fixed;
    top: 95px;
    left: 60px;
    right: 60px;
    height: 0px;
    overflow: hidden;
    transition: .4s;
    background-color: #fff;
    box-shadow: 0px 4px 4px -3px rgb(53, 53, 53);
}

#nav-menu-hide{
    margin: 0;
    padding: 10px 20px;
    border-top: 1px #000 solid;
}

#nav-menu-hide li{
    list-style: none;
    padding: 5px;
}

#nav-menu li{
    list-style: none;
    padding: 0 10px;
}

#menu-toggler{
    display: none;
    font-size: 2rem;
    color: #fff;
    background-color: #0947a5;
    padding: 4px 12px;
    border: none;
    border-radius: 3px;
    margin-left: auto;
}

.p-absolute{
    position: absolute;
}

.footer{
    
}

.footer a{
    color: #fff;
}

.footer a:hover{
    color: rgb(161, 161, 161);
}

.footer-top{
    padding: 30px 60px;
    background-color: rgb(43, 43, 43);
    color: #fff;
}

.footer-top-sec{
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.footer-top-item{
    padding: 0 20px;
}

.logo-footer{
    width: 100px;
    height: 100px;
}

.footer-item-tittle{
    margin-top: 0;
    color: #6da7ff;
    font-weight: 700;
    border-bottom: #000 1px solid;
    padding-bottom: 10px;
}

.footer-top-item p{
    font-size: .9rem;
}

.footer-middle{
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-middle i{
    font-size: 1.5rem;
    padding: 0 10px;
}

.footer-bottom{
    background-color: rgb(19, 19, 19);
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}

.footer-bottom img{
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 1200px) {
    #header-top{
        display: flex!important;
        justify-content: space-between;
    }

    #content{
       margin-top: 83px;
    }
}

@media (max-width: 940px){
    #navbar{
        display: none;
    }

    #menu-toggler{
        display: block;
    }

    .home-empresa{
        flex-direction: column;
    }

    .home-empresa img{
        width: 400px!important;
        height: 288px!important;
        margin: 0!important;
    }
}

@media (min-width: 940px){
    #nav-hide{
        display: none;
    }
}

@media (max-width: 800px){
    .footer-top-sec{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-top-item{
        padding: 20px 0;
    }
}